<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style type="text/css">
        img{
            height: 250px;
            width: 350px;
        }
    </style>
</head>
<body style="background-color:gray;">
    <center>


        <title>BOOKS!</title>

        <h1> </h1>
        <h1> your email is {{user['email']}}</h1>
        <h1>the best books to add to cart!</h1> 

                <a href=""><button>add to cart!</button></a>
            <img src=“static/images/it-happend-on-summer.jpg”>
                    <h3>$15</h3>
                <a href=""><button>add to cart!</button></a>
            <img src=“static/images/itendswithus.jpeg”>
                <a href=""><button>add to cart!</button></a>
                    <h3>$20</h3>
            <img src=“static/images/regrettingyou.jpg”>
                    <h3>$8</h3>
                   
            
            

    </center>
    <a href="/">
            <button>home page </button>
    <a href="/cart">
            <button>cart page </button>


</body>
</html> 