<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style type="text/css">
        body {
          background-image: url("{{ url_for('static', filename='css/images/background.jpeg') }}"); 
          background-size: cover;
        }
    </style>
	<center>
	<h1>book shop!</h1>		
    here we sell english books
	<h1>
		
<h2>
	if you are obssed with books like me you should try our shop!

</h2>
<h3>
	by: layan ghattas
</h3>
<a href="/signin"><button>let's start!</button></a>


</body> 